# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environnements virtuels ---
venv/
.env/
.venv/

# --- Fichiers de dépendances ---
pip-wheel-metadata/
*.egg-info/
dist/
build/

# --- Tests / Pytest ---
.pytest_cache/
.coverage
coverage.xml

# --- IDE ---
.vscode/
.idea/

# --- macOS ---
.DS_Store

# --- Docker ---
docker-compose.override.yml

# --- Logs ---
*.log

